.meme
{
    float: left;
    display: flex;
    flex-direction: column-reverse;
}
.img_meme
{
    height: 500px;
    width: 500px;
}
.kanye
{
    display: flex;
    flex-direction: row;
    block-size: 150px;
}
.kanye_titre
{
    font-size: 20px;
    margin-left: 10px;
    max-width: 550px;
    margin-top: 20px;
    color: white;
}
.quote
{
    font-size: 25px;
    margin-top: 18px;
    max-height: 300px;
    max-width: 550px;
    margin-bottom: 18px;
    margin-left: 20px;
    font-weight: 800;
    color: white;
    text-align-last: left;
    text-indent: 0;
}
.chuck
{
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 25px;
}
.titre_chuck
{
    font-size: 20px;
    margin-left: 10px;
    margin-top: 20px;
    max-width: 550px;
    color: white;
}
.joke
{
    font-size: 25px;
    margin-top: 18px;
    max-height: 300px;
    max-width: 550px;
    margin-bottom: 18px;
    font-weight: 800;
    color: white;
    text-align-last: left;
    text-indent: 0;

}
.bouton_meme
{
    margin-top: 19px;
    cursor: pointer;
    background-color: #FFE3BA;
    border: none;
    font-family: 'Century gothic', 'sans-serif';
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    margin-right: 10px;
    margin-left: 10px;
    height: 30px;
    width: 90px;
}
.bouton_kanye
{
    cursor: pointer;
    float: left;
    background-color: #FFE3BA;
    border: none;
    font-family: 'Century gothic', 'sans-serif';
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 19px;
    height: 30px;
}
.bouton_chuck
{
    cursor: pointer;
    float: left;
    background-color: #FFE3BA;
    border: none;
    font-family: 'Century gothic', 'sans-serif';
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.55);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 19px;
    height: 30px;
}